.welcomeMessage {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 4rem 3rem 0rem 3rem;
  padding-bottom: 1.5rem;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.4);

  span {
    color: rgba(0, 0, 0, 0.7);
  }
}

.menuBurguer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: transparent;

  @media screen and (min-width: 601px) {
    display: none;
  }

  .imagetoggle {
    display: block;
    padding: 2rem 0;
  }

  li {
    list-style: none;
  }

  .buttonToggle {
    height: 3.125rem;
    width: 13.125rem;
    border: none;
    background: #2eafb2;
    color: white;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
  }

  .buttonToggle:hover {
    background: #d3d3d3;
    color: black;
    transition: 0.5s;
    width: 100%;

    img:first-child {
      filter: brightness(0.6) invert(0.9) sepia(1) saturate(2)
        hue-rotate(300deg);
    }
    img {
      filter: brightness(0.6) invert(0.9) sepia(1) saturate(2)
        hue-rotate(300deg);
    }
  }
}
